body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
}

.screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-by {
}

.invite {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}
