body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 16px 150px;
    min-width: 600px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    color: #E5E7EB;
    
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 80px 150px;
    min-width: 600px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

.hero-2nd {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 8px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
}

.hero-img {
    display: flex;
    margin-left: 32px;
    align-items: center;
    
}

.hero-img img {
    min-width: 400px;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    min-width: none;

    
}

.screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 150px 64px 150px;
}

.screenshot-title {
    font-size: 36px;
    font-weight: bold;
}

.preview {
    margin-top: 32px;
    display: flex;
    gap: 32px;
    
    justify-content: center;
}

.preview-img img{
    
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #1F2937
}

p {
    display: flex;
    margin-top: 0px;
    padding-top: 4px;
    color: #909296;
    text-align: center;
    font-size: 14px;
    width: 150px;
    
}

.actual-quote p {
    width:auto;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    
    text-align: left;
    
    margin: 0px;
}

.quote-by p {
    padding: 0px;
    margin: 0px;
    color: #1F2937;
    font-weight: bold;      
    font-size: 18px;
    width: auto;
    font-style: normal;
}

.actual-quote {
    
    max-width: 900px;
    min-width: 600px;
    
}
.quote-by {
    display: flex;
    width: auto;
    flex-grow: 1;
    
    justify-content: end;
    
}

.quote {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
    
    
    
}

.invite-container {
    padding: 50px 150px;
    display: flex;
    justify-content: center;
}
.invite {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-radius: 5px;
    min-width: 600px;
    max-width: 900px;
    flex-grow: 1;
    align-items:center;
}

.invite-text-top {
    font-weight: bolder;
}

.invite-left {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.invite button {
    
    border: 1px solid white;
    padding: 4px 16px;
    margin: 0px;
    border-radius: 5px;
    font-weight: bold;
    
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}
